@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Karla/static/Karla-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}