@use '_breadcrumb.scss';
@use 'components';
@use 'contact-form';
@use 'fonts';
@use 'menu-modal';
@use 'scroll-reveal';
@use 'slide';
@use 'svg';

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-submit-container {
    .wpcf7-submit {
        font-family: theme('fontFamily.sans');
        width: 12.5rem;
    }
}

#right-faq {
    p {
        font-family: theme('fontFamily.sans');
        margin-bottom: 1rem;
    }
}

/* Isso vai sobrescrever facilmente o seletor do .prose */
.meu-conteudo-wysiwyg h2,
.meu-conteudo-wysiwyg h3,
.meu-conteudo-wysiwyg h4,
.meu-conteudo-wysiwyg h5,
.meu-conteudo-wysiwyg h6 {
    color: theme('colors.brand-azul-escuro');
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.25rem;
}

.meu-conteudo-wysiwyg p {
    color: theme('colors.brand-azul-escuro');
    font-family: theme('fontFamily.sans');
}

.meu-conteudo-wysiwyg ul {
    font-family: theme('fontFamily.sans');
    list-style: none;
    padding-left: 0;
}

.meu-conteudo-wysiwyg ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.meu-conteudo-wysiwyg ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    
    width: 20px;
    height: 20px;
    background-image: url('../../dist/images/icons/check\ 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.meu-conteudo-wysiwyg ul li::marker {
    color: theme('colors.brand-marrom');
}

.diagonal-overlay {
  /* Isso desenha um polígono de 4 pontos:
    1. Canto superior esquerdo (0 0)
    2. Ponto no topo, a 80% da largura (80% 0)
    3. Ponto na base, a 60% da largura (60% 100%)
    4. Canto inferior esquerdo (0 100%)
  */
  clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100%);
}

#back-to-top.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}